input:-webkit-autofill {
    border-width: 0px;
    box-shadow: inset;
    transition: none;
    -webkit-box-shadow: 0px 1000px  hsl(var(--pf, var(--p)) / var(--tw-bg-opacity)) inset;
    -webkit-text-fill-color: hsl(var(--pc) / var(--tw-text-opacity));
}


input::after, input::before
{
    border-width: 0px;
    -webkit-text-fill-color: hsl(var(--pc) / var(--tw-text-opacity));
}

input:focus
{
    -webkit-text-fill-color: hsl(var(--pc) / var(--tw-text-opacity));
}

input
{
    transition-duration: 0s;
}


